<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기본형/반응형 웹 템플릿 디자인</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>
            <a href="../../index.html">
                <img src="../../img/footer_logo.png" alt="하수정" />
            </a>
        </h1>
    </header>
    <section class="teml">
        <ul class="menu">
            <li>웹디자인</li>
            <li class="on">영상편집</li>
            <li>재직자 기초</li>
            <li>재직자 중급</li>
        </ul>
        <div class="cont"><!-- 재직자 기초 03 -->
            <article>
                <figure>
                    <img src="img/" alt=""/>
                </figure>
                <div>
                    <h4>포트폴리오 홈페이지 ver.1</h4>
                    <p>#반응형 #탭메뉴 #편집디자인 #모션디자인 #그래픽디자인 #유튜브 #mp4</p>
                    <ul>
                        <li><a href="https://jwebdew.github.io/youtube/동영상+유튜브.html">Design</a></li>
                        <li><a href="https://github.com/jwebdew/youtube">Code</a></li>
                    </ul>
                </div><!-- .info end -->
            </article>
            <article>
                <figure>
                    <img src="https://via.placeholder.com/300px300/f25a38/fff/?text=responsive" alt=""/>
                </figure>
                <div>
                    <h4>포트폴리오 홈페이지 ver.2</h4>
                    <p>#반응형 #탭메뉴 #편집디자인 #모션디자인 #그래픽디자인 #유튜브 #mp4</p>
                    <ul>
                        <li><a href="sub/responsive.html">Design</a></li>
                        <li><a href="https://codepen.io/hwebdew/pen/MWrLVRY">Code</a></li>
                    </ul>
                </div><!-- .info end -->
            </article>
             
        </div><!-- 03 -->
    </section>
    <footer>
        <div>
            <img src="../../img/footer_logo.png" alt="하수정" />
            <address>Copyright 2022. hasujeong All rights reserved.</address>
        </div>
    </footer>
    </section>
</body>
</html>